* {
    margin: 0;
    top: 0;
}

header {
    height: 715px;
    left: 0px;
    top: 0px;
    background: #FFFBF0;
}

nav {
    width: 80%;
    padding-top: 20px !important;
    margin: 0 auto;
}

.navbar-brand img {
    width: 291.11px;
    height: 39.27px;
}

ul li {
    padding: 10px;
}

li>a {
    color: #3C3C3C !important;
    font-size: 20px;
    font-weight: bold;
}

.navbarRight {
    float: right;
}